.container {
    background-color: #A2A8C9;
    height: 100%;
    width: 100%;
}

.container2 {
    display: flex;
}

.container3 {
    display: flex;
    flex-direction: column;
}

.container4 {
    background-color: #D9D9D9;
    width: 85vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(160, 160, 255);
}

.searchContainer {
    display: flex;
    height: 60%;
    width: 80%;
    border: 1px solid #292E45;
    border-radius: 64px;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
}

.formContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.inputContainer {
    background: none;
    border: none;
    font-size: 2vh;
    width: 90%;
    outline: none;
    color: black;
    margin-right: 5%;
}

.iconContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}

.icon {
    color: #FFFFFF;
    width: 32px;
    height: auto;
    margin: 10px;
}

.iconBackground {
    background-color: #292E45;
    border-radius: 100%;
    width: 6vh;
    height: 6vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 5%;
    border: none;
}

.iconBackground:hover {
    cursor: pointer;
    transition: 7%;
    opacity: 0.7;
}