.pageContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #292E45 url(./../../../public/login-background.png) no-repeat center;
    background-size: cover;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 64px;
    gap: 36px;

    position: absolute;
    width: 456px;
    height: 434px;

    background: #EDF5FF;

    border: 1px solid #B7BBD1;
    border-radius: 20px;
}

.loginText {
    font-size: 42px;
    font-weight: 700;
    line-height: 120%;
    color: #131313;
}

.formContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fieldContainer {
    display: flex;
    border-bottom: 1px solid #121C54;
    width: 328px;
    margin: 8px;
}

.iconContainer {
    color: #121C54;
    margin: 8px;
}

.inputContainer {
    border: none;
    background: none;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 400;
}

.inputContainer:focus {
    outline: none;
}

.loginButton {
    border: none;
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 140px;
    gap: 10px;

    width: 328px;
    height: 46px;

    background: #2A73C5;
    box-shadow: 0px 4px 0px #1F5591;
    border-radius: 8px;

    /* for text inside */
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}