.container{
    height: 81vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerRelatorio{
    background-color: #292E45;
    height: 5vh;
    width: 75vw;
    border-radius: 18px 18px 0 0;
    display: flex;
    align-items: center;
}

.containerRelatorio{
    background-color: #EDF5FF;
    height: 70vh;
    width: 75vw;
    border-radius: 0 0 0 18px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.containerHeaderData{
    border: 1px solid #B7BBD1;
    width: 11vw;
    height: 2.7vh;
    border-radius: 24px;
    margin-left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date{
    color:white;
    font-size: 1.5vh;
}

.arrow{
    color: white;
}