.container{
    height: 81vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headerRelatorio{
    background-color: #292E45;
    height: 5vh;
    width: 75vw;
    border-radius: 18px 18px 0 0;
    display: flex;
    align-items: center;
}

.containerRelatorio{
    background-color: #EDF5FF;
    height: 70vh;
    width: 75vw;
    border-radius: 0 0 0 18px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.containerHeaderData{
    border: 1px solid #B7BBD1;
    width: 13vw;
    height: 2.7vh;
    border-radius: 24px;
    margin-left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerHeaderData:hover{
    cursor: pointer;
    transition: 7%;
    opacity: 0.7;
}

.date{
    color:white;
    font-size: 0.9vw;
}

.arrow{
    color: white;
}

.relatorio{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    contain: content;
    padding-left: 0.5vw;
}

.dateRelatorio{
    width: 6vw;
    display: flex;
    align-items: center;
    height: 8vh;
    flex-direction: column;
    justify-content: center;
    background-color: #BDD4ED;
    border-radius: 32px;
    contain: strict;
}

.textDate{
    font-weight: bolder;
    font-size: 1.7vh;
}

/*Esse aqui engloba os dois abaixo*/
.containerRelatorIndividual{
    width: 68vw;
    display: flex;
    flex-direction: column;
    contain: content;
    padding-left: 0.5vw;
}

.containerTimeTags{
    display: flex;
    align-items: center;
    height: 2.7vh;
    width: 7.7vw;
    background-color: #BDD4ED;
    border-radius: 32px;
    justify-content: space-evenly;
    contain: strict;
}

.containerTextRelatorio{
    display: flex;
    width: 65vw;
    height: 10vh;
    contain: strict;
    overflow-y: auto;
}

.timeText{
    font-size: 1.7vh;
}

.containerGlobalTimeTags{
    display: flex;
    align-items: center;
    contain: content;
    padding-bottom: 5px;
    padding-top: 5px;
}

.text{
    font-size: 1.7vh;
}

.tagText{
    font-size: 1.7vh;
    padding: 3px;
    color: #FBFBFB;
}

.tagContainer{
    background-color: #1DCF00;
    border-radius: 24px;
    margin-left: 1vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.datePicker{
    position: relative;
    z-index: 2;
    width: 6vw;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 20.8vw;
  }