.container{
    height: 9vh;
}

.headerContainer{
    display: flex;
    height: 100%;
    background-color: #292E45;
    align-items: center;
}

.Logo{
    margin-top: 0.5%;
    margin-left: 3%;
    margin-bottom: 0.5%;
    width: auto;
    height: 8vh;
}

.LogoMinimalista{
    margin-top: 0.5%;
    margin-left: 3%;
    margin-bottom: 0.5%;
    width: auto;
    height: 5vh;
}

.searchContainer{
    display: flex;
    height: 60%;
    width: 65%;
    border: 1px solid #D3D3D3;
    border-radius: 64px;
    margin-left: 7%;
    justify-content: space-between;
    align-items: center;
}

.formContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.inputContainer{
    background: none;
    border: none;
    font-size: 2vh;
    width: 90%;
    outline: none;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 5%;
}

.iconContainer{
    color: white;
    margin-right: 1%;
    font-size: 10;
}

.profilePic{
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    margin-left: 10%;
}

.profilePic:hover{
    cursor: pointer;
}

.subMenuWrap{
    z-index: 1;
    position: absolute;
    top: 9vh;
    right: 2%;
    width: 200px;
    color: #ffffff;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}

.subMenuWrap.openMenu{
    max-height: 400px;
}

.subMenu{
    background-color: #292E45;
    padding: 20px;
    border-radius: 0% 0% 20% 20%;
}

.subMenu hr{
    margin: 2% 0%;
    height: 1px;
}

.subMenu p{
    font-weight: 400px;
    transition: transform 0.5s;
}

.subMenu p:hover{
    transform: translateX(5px);
    cursor: pointer;
    font-weight: 600;
    opacity: 0.9;
    color: #ffffff;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 20.8vw;
}

.modal {
    height: 70vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    position: relative;

    background: #EDF5FF;
    border-radius: 30px;
    border: 1px solid grey;
}

.input {
    border: none;
    background: none;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 400;
    width: 80%;
    font-size: 16px;
    color: #616269;
    margin-left: 3%;
}

.input:focus {
    outline: none;
}

.inputContainer {
    display: flex;
    border-bottom: 1px solid #121C54;
    width: 15vw;
}

.button {
    height: 6.5vh;
    width: 12vw;
    border-radius: 10px;
    box-shadow: 0px 4px 0px #1F5591;
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    transition: 0.5%;
    opacity: 0.5;
}

.textButton {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.editText{
    color: #616269;
}