.text{
    font-size: 1.5vw;
    color: #292E45;
}

.button{
    background: #D3D3D3;
    padding-top: 7%;
    padding-bottom: 7%;
    width: 15vw;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding-left: 21%;
    padding-right: 14%;
    border-right: none;
}

.button:hover{
    cursor: pointer;
    transition: 0.5%;
    opacity: 0.5;
}

.ButtonMenu{
    color: #292E45;
    margin-right: 7%;
    display: flex;  
    justify-content: center;
}

